body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
}
header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
}
nav a {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}
main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
img.profile {
    float: right;
    height: 300px;
    margin-left: 20px;
    border-radius: 8px;
}

img[alt=drawing] { 
    max-width: 75%; 
    height: auto;
    display: block; /* Make the image a block-level element */
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto; /* Set right margin to auto */
}
